# --- For-Bot-Working --------- #
https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.21.zip
pyromod==1.5
Tgcrypto
# --- For-Database ------------ #
pymongo
motor
umongo
dnspython
marshmallow

# --- For-Web-Response ------- #
pytz
requests
bs4
shortzy
aiohttp
aiofiles
asyncio
